{% extends "base.html" %}
{% block body_block %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <h3>Dear, {{ name }}</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for shopping on our site. Your order will be delivered soon. Your total cost is {{ total_cost }} Taka. Please give extra 100 Taka as service charge.</p>
    <br><br>
        </div>
        
	</div>
</div>

{% endblock %}